<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/homepage.style.css" />
    <title>Homepage</title>
  </head>
  <body>
    <header>
      <div class="headerContainer">
        <h1>KenzieHabit</h1>
        <img class="iconImage" src="/src/assets/img/user.png" alt="" />
      </div>
    </header>
    <section id="userInformation">
      <div class="userContainer">
        <img class="avatarImage" src="/src/assets/img/user.png" alt="" />
        <h2 class="username">Username</h2>
      </div>
    </section>
    <main>
      <div id="tableTitle">
        <h2>Tarefas</h2>
        <nav>
          <a href=""><b>Todos</b></a>
          <a href="">Concluídos</a>
          <button class="buttonCreateHabit">Criar</button>
        </nav>
      </div>
      <section class="taskTable">
        <div class="tableHead">
          <h3 class="statusLabel">Status</h3>
          <h3 class="titleLabel">Título</h3>
          <h3 class="descLabel">Descrição</h3>
          <h3 class="categoryLabel">Categoria</h3>
          <h3 class="editLabel">Editar</h3>
        </div>
        <ul class="tableBody"></ul>
      </section>
    </main>
    <script type="module" src="../scripts/homepage.scripts.js"></script>
  </body>
</html>
